@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* colors */
  --white-color: hsl(0, 0%, 100%);
  --light-grey-color: hsl(212, 45%, 89%);
  --greyish-blue-color: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
  /* font */
  --heading-font-size: 22px;
  --body-font-size: 15px;
  --font-weight-400: 400;
  --font-weight-700: 700;
  --font-family: "Outfit", sans-serif;
}
body {
  block-size: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  font: var(--font-weight-400) var(--body-font-size) / normal var(--font-family);
  background-color: var(--light-grey-color);
}
.card {
  inline-size: 320px;
  block-size: 497px;
  padding-block-start: 16px;
  padding-inline: 16px;
  border-start-end-radius: 20px;
  border-start-start-radius: 20px;
  border-end-start-radius: 20px;
  border-end-end-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  background-color: var(--white-color);
  text-align: center;
  color: var(--greyish-blue-color);
  &__qr-code-img {
    inline-size: 100%;
    aspect-ratio: 1/1;
    border-start-start-radius: 10px;
    border-start-end-radius: 10px;
    border-end-start-radius: 10px;
    border-end-end-radius: 10px;
  }
  &__heading {
    margin-block-start: 24px;
    font: var(--font-weight-700) var(--heading-font-size) / normal
      var(--font-family);
    color: var(--dark-blue);
  }
  &__body {
    margin-block-start: 16px;
  }
}
.attribution {
  font-size: 11px;
  position: fixed;
  bottom: 16px;
}
